body {
    margin: 0px;
    padding: 0px;
}

.container {
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-bg {
    background: white;
    border-bottom: 1px solid black;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.logo {
    width: 200px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-menu a {
    display: inline-block;
    padding: 16px 0px;
    position: relative;
    font-family: Inconsolata;
    font-size: 1.25rem;
}

.main-bg {
    background: url(rose-petals.svg);
    background-size: 100%;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.titulo {
    font-size: 40px;
}

.main img {
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 150px;
    width: 200px;
    border: 4px black solid;
}

.main p {
    margin: 0;
    padding: 10px 200px 50px;
    font-family: Inconsolata, monospace;
    font-size: 20px;
}

.footer-bg {
    background: white;
    border-top: 4px dotted black;
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-top: 40px;
    padding: 5px;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}

.tel {
    display: flex;
    align-items: center;
}

.footer-menu img {
    width: 40px;
    height: 40px;
}

@media (max-width: 600px) {
    .header-bg {
        border-bottom: none;
    }

    .header img {
        width: 200px;
    }

    .main img {
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 100px;
        width: 200px;
        border: 2px black solid;
    }

    .main p {
        margin: 0;
        padding: 20px;
        font-family: Inconsolata, monospace;
        font-size: 1rem;
    }

    .footer-menu {
        font-size: 15px;
    }

    .header-menu a {
        font-size: 15px;
    }
}